bin/
gen/
out/
build/
.gradle/
.kotlin/
app/build/

.idea/
*.iml
*.iws
*.ipr
/captures/
.externalNativeBuild/
.cxx/

local.properties
secrets.properties

*.jks
*.keystore
*.pk8
*.p12

.DS_Store
Thumbs.db

*.log

*.apk
*.aab
